.logo{
    display: flex;
    justify-content: space-evenly;
    margin-top:7em;
}
.srch{
    display:flex;
    justify-content: space-evenly;
    border:solid lightgrey;
    margin:30px;
    margin-left: 20em;
    margin-right:20em;
    margin-top: 1em;
   
}
.srch p{
    display:flex;
    opacity:0.5;
}
.lnk{
    display:flex;
    justify-content: space-evenly;
    padding:10px;
    background-color: rgb(216, 216, 216);
    margin-left: 25em;
    margin-right: 25em;


    
}
.head{
    margin-left:1000px;
    display:flex;
    justify-content: space-evenly;
}
